@import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------*/
.wrapper {
  max-height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25vw 75vw;
      grid-template: 58px 1fr/25vw 75vw;
      grid-template-areas: "header header" "sitebar content";
}
@media (min-width: 1441px) {
  .wrapper {
    -ms-grid-columns: 1fr 360px 1080px 1fr;
        grid-template: 58px 1fr/1fr 360px 1080px 1fr;
        grid-template-areas: "f header header a" "d sitebar content w";
  }
}

.js-contents {
  background: rgb(248, 244, 240);
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 100vw;
  max-height: 116px;
}
@media (min-width: 1441px) {
  .header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

.header__container {
  position: relative;
  height: 100%;
}

.header__body {
  height: 100%;
  width: 100%;
}

.header__author {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  text-shadow: -2px -2px 3px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1440px) {
  .header__author {
    font-size: calc(10px + 10 * ((100vw - 320px) / 1120));
  }
}
@media (min-width: 1441px) {
  .header__author {
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .header__author {
    text-shadow: -3px -3px 4px rgba(0, 0, 0, 0.6);
  }
}

.burger {
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
    position: relative;
    z-index: 21;
    width: 30px;
    cursor: pointer;
    height: 18px;
    top: 10px;
    left: 10px;
  }
  .burger span {
    position: absolute;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 10%;
    -webkit-transition: top 0.8s ease 0s, bottom 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    transition: top 0.8s ease 0s, bottom 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, top 0.8s ease 0s, bottom 0.8s ease 0s;
    transition: transform 0.8s ease 0s, top 0.8s ease 0s, bottom 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  }
  .burger span:nth-child(1) {
    top: 0;
  }
  .burger span:nth-child(2) {
    bottom: 0;
  }
  .burger span:nth-child(3) {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}
.burger._active-burger span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.burger._active-burger span:nth-child(2) {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}
.burger._active-burger span:nth-child(3) {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.sitebar {
  position: relative;
  --sq-color: #000;
  z-index: 20;
  height: calc(100vh - 58px);
}
@media (min-width: 1441px) {
  .sitebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
.sitebar:before {
  content: "";
  background-color: var(--sq-color);
  width: 1px;
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  -webkit-box-shadow: 2px 0px 6px 1px var(--sq-color);
          box-shadow: 2px 0px 6px 1px var(--sq-color);
}
@media (min-width: 768px) {
  .sitebar:after {
    content: "";
    background-color: var(--sq-color);
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    top: -1px;
    -webkit-box-shadow: 2px 0px 6px 1px var(--sq-color);
            box-shadow: 2px 0px 6px 1px var(--sq-color);
  }
}
@media (max-width: 767px) {
  .sitebar {
    -webkit-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
    top: 0;
    left: -120%;
    position: fixed;
    height: 100%;
    width: 75vw;
    background-color: rgb(210, 194, 205);
  }
}
.sitebar._active-burger {
  left: 0;
}

.sitebar__menu {
  padding: 25px 0 0 25px;
}
@media (max-width: 767px) {
  .sitebar__menu {
    padding: 25px 0 0 0;
    text-align: center;
  }
}

.sitebar__list li {
  margin: 0 0 25px 0;
}
.sitebar__list li:last-child {
  margin: 0;
}

.sitebar__link {
  color: rgba(0, 2, 1, 0.4);
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.8000000119px;
}
@media (max-width: 767px) {
  .sitebar__link {
    font-size: 30px;
  }
}

._svlActive {
  color: #002010;
}

.sitebat__body-switch {
  position: absolute;
  bottom: 25px;
  left: 25px;
  background: url("../img/sun.svg") left no-repeat;
}
.sitebat__body-switch._black {
  background: url("../img/sunblack.svg") left no-repeat;
}

.sitebar__switch {
  font-family: "Archivo";
  font-weight: 500;
  font-size: 18px;
  color: #000201;
  padding: 0 0 0 35px;
  line-height: 22px;
}

.sitebar__fon {
  display: none;
}
.sitebar__fon._active {
  display: block;
  position: fixed;
  width: 25vw;
  height: 100vh;
  right: 0;
  z-index: 20;
}

.content {
  grid-area: "content";
  position: relative;
  height: calc(100vh - 58px);
}
@media (max-width: 767px) {
  .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 1441px) {
  .content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}
.content._disable {
  display: none;
}

.content__description {
  padding: 25px;
}

.description__body {
  font-family: "Archivo";
}
@media (min-width: 898px), (min-height: 1016px) {
  .description__body {
    max-width: 687px;
  }
}

.description__title {
  margin: 0 0 16px 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.1666666667em;
  letter-spacing: -0.8px;
  color: #000201;
}
@media (max-width: 1440px) {
  .description__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 1120));
  }
}
.description__subtitle {
  font-family: "Space Grotesk";
  font-weight: 700;
  line-height: 1.2916666667em;
  color: #D3902A;
}
@media (max-width: 1440px) {
  .description__subtitle {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  .description__subtitle {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  }
}

.description__text {
  font-family: "Space Grotesk";
  line-height: 1.5em;
  letter-spacing: -0.25px;
  color: rgba(0, 2, 1, 0.6);
}
@media (max-width: 1440px) {
  .description__text {
    font-size: calc(15px + 9 * ((100vw - 320px) / 1120));
  }
}
.description__text p {
  margin: 0 0 24px 0;
}
.description__text p:last-child {
  margin: 0;
}

.description__text_dark {
  color: rgba(0, 2, 1, 0.8);
  font-weight: 700;
}

.works {
  padding: 25px;
  grid-area: "content";
  height: calc(100vh - 58px);
}
@media (max-width: 767px) {
  .works {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 1441px) {
  .works {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}
.works._disable {
  display: none;
}

.works__body {
  position: relative;
}

.works__title {
  font-family: "Archivo";
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.8px;
  color: #000201;
  margin: 0 0 24px 0;
}

.works__subtitle {
  font-family: "Space Grotesk";
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: rgba(0, 2, 1, 0.6);
  margin: 0 0 34px 0;
}

@media (max-width: 767px) {
  .works__menu {
    position: relative;
  }
}

@media (max-width: 767px) {
  .works__prokladka {
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .works__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    position: absolute;
    z-index: 5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -400px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .works__list._hidden {
    visibility: hidden;
  }
}
.works__list._active {
  visibility: visible;
  top: 0;
}

.works__list_exit {
  display: none;
}
@media (max-width: 767px) {
  .works__list_exit {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    left: 50%;
    cursor: pointer;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    margin: 0 0 10px 0;
  }
  .works__list_exit:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10%;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .works__list_exit:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10%;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.works__link {
  color: rgba(0, 2, 1, 0.8);
  font-size: 18px;
  display: inline-block;
  position: relative;
}
@media (min-width: 768px) {
  .works__link:hover::after {
    width: 100%;
    right: 0;
  }
  .works__link._active:hover::after {
    width: 0;
    right: 0;
  }
  .works__link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -10px;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: -webkit-gradient(linear, right top, left top, from(#f69ec4), to(#f9dd94));
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    -webkit-transition: width 0.5s ease 0s, right 0.5s ease 0s;
    transition: width 0.5s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
}
@media (max-width: 767px) {
  .works__link {
    color: #fff;
    z-index: 5;
    margin: 0 0 20px 0;
    width: 100%;
  }
}

.works__menu_burger {
  display: none;
  position: relative;
}
@media (max-width: 767px) {
  .works__menu_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 20px 0;
  }
  .works__menu_burger span {
    cursor: pointer;
    border: 1px solid #000;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    color: #fff;
    padding: 5px;
  }
}
.works__menu_burger._activeX span {
  visibility: hidden;
}

._active:before {
  background: none repeat scroll 0 0 transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 4px;
  right: 0;
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, from(#f69ec4), to(#f9dd94));
  background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
  -webkit-transition: width 0.5s ease 0s, right 0.5s ease 0s;
  transition: width 0.5s ease 0s, right 0.5s ease 0s;
  width: 100%;
}

.works__fon {
  display: none;
}
.works__fon._active {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  z-index: 4;
  top: 0;
}

.works__items {
  margin: 10px 0 10px 0;
  display: -ms-grid;
  display: grid;
  overflow: auto;
  max-height: calc(100vh - 58px - 80px - 70px - 73px - 10px - 10px - 10px);
  -ms-grid-rows: 246px;
  grid-template-rows: 246px;
  grid-auto-rows: 246px;
}
@media (min-width: 768px) {
  .works__items {
    -ms-grid-columns: 33.333% 33.333% 33.333%;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-auto-columns: 33.333% 33.333% 33.333%;
    margin: -10px -10px 0 0;
  }
}
@media (max-width: 767px) and (min-width: 500px) {
  .works__items {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 50% 50%;
    margin: -5px -5px 0 0;
  }
}

.items__item {
  position: relative;
  overflow: hidden;
  padding: 0 0 10px 0;
}
@media (min-width: 767px) {
  .items__item {
    padding: 10px 10px 0 0;
  }
}
@media (min-width: 500px) {
  .items__item {
    padding: 5px 5px 0 0;
  }
}
.items__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items__item:hover:before {
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: -10px;
  content: attr(data-hover);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFCF5;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
@media (min-width: 500px) {
  .items__item:hover:before {
    top: 5px;
    left: -5px;
  }
}
@media (max-width: 499px) {
  .items__item:hover:before {
    top: 0;
    left: 0;
  }
}
.items__item._disable {
  display: none;
}

.resume {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  padding: 25px;
  grid-area: content;
  overflow: auto;
  height: calc(100vh - 58px);
}
@media (max-width: 767px) {
  .resume {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 1441px) {
  .resume {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}
.resume._disable {
  display: none;
}

.resume__title {
  font-family: "Archivo";
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.8px;
  color: #000201;
  margin: 0 0 30px 0;
}

.resume__subtitle {
  font-family: "Space Grotesk";
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: rgba(0, 2, 1, 0.6);
  max-width: 676px;
  margin: 0 0 35px 0;
}

.resume__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items-resume__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 25px 0;
}

.items-resume__year {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000201;
  padding: 0 15px 0 0;
}

.items_resume__achievements {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.achievements__title {
  font-family: "Space Grotesk";
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #000201;
  margin: 0 0 5px 0;
}

.achievements__subtitle {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: rgba(0, 2, 1, 0.6);
  margin: 0 0 15px 0;
}

.achievements__list {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: rgba(0, 2, 1, 0.6);
  padding: 0 0 0 18px;
}
.achievements__list li {
  margin: 0 0 5px 0;
  list-style: disc;
}

.contacts {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  padding: 25px;
  grid-area: content;
}

@media (min-width: 1441px){
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .resume {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .contacts {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
@media (max-width: 767px) {
  .contacts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 1441px) {
  .contacts {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}
.contacts._disable {
  display: none;
}

.contacts__body {
  margin: 0 0 60px 0;
}

.contacts__title {
  font-family: "Archivo";
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.8px;
  color: #000201;
  margin: 0 0 24px 0;
}

.contacts__subtitle {
  font-family: "Space Grotesk";
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: rgba(0, 2, 1, 0.6);
}

.form {
  max-width: 579px;
  overflow: auto;
}

.Works__red-star {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #F73232;
}

.form__name-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 25px 0;
}

.form__name-title_name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
  padding: 0 15px 0 0;
}

.form__name_label {
  font-family: "Space Grotesk";
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.25px;
  color: #000201;
}

.form__name {
  background-color: rgb(241, 236, 230);
  width: 100%;
  padding: 0 15px;
  height: 55px;
  font-size: 18px;
}

.form__name-title_title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.form__title_label {
  font-family: "Space Grotesk";
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.25px;
  color: #000201;
}

.form__title {
  background-color: rgb(241, 236, 230);
  height: 55px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.25px;
  color: rgb(157, 150, 144);
}

.form__email_label {
  font-family: "Space Grotesk";
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.25px;
  color: #000201;
}

.form__email {
  background-color: rgb(241, 236, 230);
  display: block;
  padding: 0 15px;
  height: 55px;
  font-size: 18px;
  margin: 0 0 25px 0;
  width: 100%;
}

.form__text_label {
  font-family: "Space Grotesk";
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.25px;
  color: #000201;
}

.form__text {
  background-color: rgb(241, 236, 230);
  display: block;
  font-size: 18px;
  padding: 5px 15px;
  margin: 0 0 40px 0;
  width: 100%;
  resize: none;
  height: 157px;
}

.form__btn {
  height: 55px;
  width: 164px;
  background: rgb(0, 2, 1);
  font-family: "Space Grotesk";
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.25px;
  color: #F8F4F0;
}

._targerCursor:focus {
  border: 1px solid rgb(211, 144, 42);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}